@model GamelistBuilder.Models.GameFolder
<tr>
    <td>
        <div class="bg-success">
            @Html.DisplayFor(modelItem => Model.Name)
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Rating)
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
        <a class="btn btn-primary" style="margin: 2px" asp-action="EditFolder" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" style="margin: 2px" asp-action="DeleteFolder" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>